@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

body, html {
    margin: 0; 
    padding: 0;
    overflow: hidden;
    font-family: "Comic Sans MS", "Comic Sans", "Chalkboard", "ChalkboardSE-Regular", cursive;
    color: rgb(255, 0, 230);
    background-color: black;
    text-align: center;
    cursor: pointer;
}

.duck {
    font-family: "Comic Sans MS", "Comic Sans", "Chalkboard", "ChalkboardSE-Regular", cursive;
    color: rgb(255, 0, 230);
    width: 100%;
    font-size: 5em;
}

.subtitle {
    color:rgb(21, 0, 255);
    width: 100%;
    font-size: 1em;
}

.git {
    font-size: 3em !important;
    cursor: pointer;
    position: absolute;
    bottom: 3vh;
    left: 1vw;   
    width: 3.5vw;
}

.soCool {
    color:rgb(251, 255, 0);
    transform: rotate(-45deg);
               /* skew(-10deg); */
    position: relative;
    top: -190px;
    left: -100px;
}

.muchWow {
    color: rgb(87, 236, 0);
    transform: rotate(45deg);
               /* skew(10deg); */
    position: relative;
    top: -230px;
    left: 105px;
}

.pulsate {
    animation: pulsate 0.7s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% { 
        font-size: 17px;
    }
    50% { 
        font-size: 18.5px;
    }
    100% { 
        font-size: 17px;
    }
}

.bigPulsate {
    animation: bigPulsate 0.7s ease-out;
    animation-iteration-count: infinite;
}

@keyframes bigPulsate {
    0% { 
        font-size: 1em;
    }
    50% { 
        font-size: 1.23em;
    }
    100% { 
        font-size: 1em;
    }
}


.volume {
    color:rgb(245, 245, 245);
    font-size: 3em !important;
    cursor: pointer;
    position: absolute;
    text-align: center;
    bottom: 3vh;
    right: 1vw;
    width: 5vw;
    height: 48px;
    display: none;
    overflow: hidden;
}

.soCool {
    color:rgb(251, 255, 0);
    transform: rotate(-45deg)
               skew(-10deg);
    position: relative;
    top: -175px;
    left: -90px;
}

.muchWow {
    color: rgb(87, 236, 0);
    transform: rotate(45deg)
               skew(10deg);
    position: relative;
    top: -212px;
    left: 105px;
}

.pulsate {
    animation: pulsate 0.7s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% { 
        font-size: 17px;
    }
    50% { 
        font-size: 18.5px;
    }
    100% { 
        font-size: 17px;
    }
}

.vol-btn {
    color:rgb(255, 0, 0);
    font-size: 3em !important;
    cursor: pointer;
    position: absolute;
    top: 1vh;
    right: 1vw;
}

.commands {
    width: 100vw;
    border: transparent;
    opacity: 100%;
    background: gray;
    display: none;
    font-family: 'Source Code Pro';
    font-style: bold;
}

input:focus, commands {
    outline: none !important;
}