body, html {
    margin: 0; 
    padding: 0;
    overflow: hidden;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: rgb(255, 0, 230);
    background-color: black;
    text-align: center;
    cursor: pointer;
}

.duck {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: rgb(255, 0, 230);
    width: 100%;
    font-size: 5em;
}

.subtitle {
    color:rgb(21, 0, 255);
    width: 100%;
}

.git {
    color:rgb(255, 219, 14);
    font-size: 3em !important;
    cursor: pointer;
    position: absolute;
    bottom: 1vh;
    left: 1vw;
}

.soCool {
    color:rgb(251, 255, 0);
    transform: rotate(-45deg)
               skew(-10deg);
    position: relative;
    top: -175px;
    left: -90px;
}

.muchWow {
    color: rgb(87, 236, 0);
    transform: rotate(45deg)
               skew(10deg);
    position: relative;
    top: -212px;
    left: 105px;
}

.pulsate {
    animation: pulsate 0.7s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% { 
        font-size: 17px;
    }
    50% { 
        font-size: 18.5px;
    }
    100% { 
        font-size: 17px;
    }
}